.App-header {
  background: #1A1A1A;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  width: 15%;
}

.header-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left-line {
  width: 0.0625rem;
  height: 1.1875rem;
  background: #626262;
  margin-left: 0.3rem;
}

.free-del-text {
  color: #626262;
  font-family: Poppins;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.3rem;
}

.header-right{
  display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
}